@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto&family=Roboto+Slab:wght@100..900&family=Syne:wght@600&display=swap');

.outer{
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    position: relative;
}

.left {
    height: 100vh;
    width: 50vw;
    background-color: rgb(232, 232, 232);
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; 
    /* padding-top: 0vh; */
    flex-direction: column;
    text-align: center;

}

.left h3 {
    font-weight: 400;
}

.left h6{
    padding-top: 10px;
    font-weight: 200;
    
}

.left img {
    max-height: 50%;
    width: auto;
    padding-bottom: 30px;
}


.right{
    height: 100vh;
    width: 50vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.right form{
    width: 40%;
}

.right form input{
    width: 100%;
    border: 1px solid rgb(187, 187, 187);
    height: 35px;
    padding: 10px;
}

.form-submit-button{
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    height: 35px;
}

.form-change-button{
    border: none;
    background-color: transparent;
}

.right form p{
    text-align: center;
    margin-top: 10px;
}

.logo-top{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}
.logo-top h5{
    align-self: flex-end;
}

.logo-top span{
    font-size: small;
}