@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto&family=Roboto+Slab:wght@100..900&family=Syne:wght@600&display=swap');

.asset-request-container{
    /* width: 600px; */
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    position: relative;
    font-weight: 400;
    height: 300px;

}

.content{
    background-color: #f0f0f0;
    padding: 20px;
    font-size: 14px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content p{
    margin-bottom: 0;
}

.unit-request{
    display: flex;
    justify-content: space-around;
}
.unit-1{
    width: 200px;
    
}
.unit-1 img {
    margin-right: 20px;
}

.profile{
    background-color: pink;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.unit-2{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.view-all-div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.view-all-div button{
    border: none;
    background-color: #b4b4b4;
    height: 35px;
    color: white;
    padding: 8px;
}