.admin-dashboard-body{
    display: flex;
}



/* .admin-dashboard-main-body{
   margin-left: 5vw;
   margin-right: 6vw;
    
} */

.admin-main-panel{
    
    padding-left: 9vw;
    padding-right: 5vw;
    width: 100vw;
    align-items: center;
    position: fixed;
}

.admin-dashboard-main-body{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    /* padding-left: 5vw; */
    /* padding-right: 5vw; */
    
}
