@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto&family=Roboto+Slab:wght@100..900&family=Syne:wght@600&display=swap');
.welcome-container{ 
    height: 50px;
    justify-content: space-between;
    display: flex;
    font-family: "Roboto Slab", serif;
} 
.welcome-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.welcome-left span{
    font-weight: 350;
    font-size: 14px;
}

.add-asset-button{
    border: none;
    background-color: #b4b4b4;
    height: 35px;
    color: white;
}