.admin-dashboard-body{
    display: flex;
}

.admin-dashboard-left-body{
    width: 50vw;
    /* padding-left: 50px; */
    padding-top: 10px;
}

.admin-dashboard-right-body{
    /* padding-right: 50px; */
    padding-top: 10px;
    width: 30vw;
}

/* .admin-side-panel{
    height: 100vh;
    width: 100px;
    background-color: #f0f0f0;
} */

.admin-dashboard-main-body{
   margin-left: 5vw;
   margin-right: 6vw;
    
}

.admin-main-panel{
    width: 100%;
    margin-left: 5vw;
}

.admin-dashboard-main-body{
    display: flex;
    justify-content: space-between;
}