.admin-dashboard-body{
    display: flex;
}

.admin-dashboard-left-body{
    width: 50vw;
    /* padding-left: 50px; */
    padding-top: 10px;
}

.admin-dashboard-right-body{
    /* padding-right: 50px; */
    padding-top: 10px;
    width: 30vw;
}

/* .admin-dashboard-main-body{
   margin-left: 5vw;
   margin-right: 6vw;
    
} */

.admin-main-panel{
    
    padding-left: 9vw;
    padding-right: 5vw;
    width: 100vw;
    align-items: center;
    position: fixed;
}

.admin-dashboard-main-body{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    /* padding-left: 5vw; */
    /* padding-right: 5vw; */
    
}
.category-table{
    width: 70vw;
    /* background-color: purple; */
    padding-top: 20px;
}