.employee-dashboard-left-body{
    width: 50vw;
    /* padding-left: 50px; */
    padding-top: 10px;
}

.employee-dashboard-right-body{
    /* padding-right: 50px; */
    padding-top: 10px;
    width: 30vw;
}